html {
    background-image: url("image/background.png ");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    background-position: center;    
}

body {
  min-height: 100%;
}

#logo {
  margin-left: -3%;
}

#logo img:hover {
  transform: scale(1.2); 
  transition: transform .5s;
  cursor:pointer;
}

h1 {
    font-family: impact, sans-serif;
    font-weight: bold;
    color:rgb(104, 82, 165);
    /* position: fixed; */
    /* padding-left: 40%; */
    /* padding-top: 5%; */
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    
}


/* Information CSS */
h2 {
    font-family: impact, sans-serif;
    color:rgb(104, 82, 165);
    text-align: center;
    font-size: 80%;
    /* padding-left: 50%; */
    /* align-items: center; */
    
}

.clickable-text {
  position: absolute;
  justify-content: center;
  align-items: center;
  font-family: impact, sans-serif;
  color:rgb(104, 82, 165);
  margin-top: -5%;
  font-size: 60%;
  /* margin-left: -14%; */
}

.clickable-text:hover  {
  transform: scale(1.2); 
  transition: transform .5s;
  cursor:pointer;
}

.fish-name {
  position: absolute;
  justify-content: center;
  align-items: center;
  font-family: impact, sans-serif;
  color:white;
  margin-top: 5%;
  margin-left: 7%;
  font-size: 80%;

}


.fish-cards {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;


}

/* .card img {
  height: 40vh;
} */

.card {
  display: none;
  margin-left: 7%;
  margin-right: 23%;
  margin-top: 10%;
  margin-bottom: 15%;
}


.img-cards {
  position: absolute;
  height: 40vh;
}

.fish-image {
  position: relative;
  /* width: 20%; */
  margin-top: 200%;
  margin-left: 20%;
  height: 50px;
}







.vertical {
  border-left: 6px solid black;
  height: 200px;
  position:absolute;
  left: 50%;
}



/* filter CSS */

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  margin-left: 20%;
  margin-top: 2%;
  font-family: impact, sans-serif;
  color: rgba(88, 81, 145, 1);
  font-size: 25px;
}

.container-size {
  position: relative;
  margin-left: 20%;
  margin-top: 5%;
  font-family: impact, sans-serif;
  color: rgba(88, 81, 145, 1);
  font-size: 25px;
}

.container-habitat {
  position: relative;
  margin-left: 20%;
  margin-top: 5%;
  font-family: impact, sans-serif;
  color: rgba(88, 81, 145, 1);
  font-size: 25px;
}

.colour-text {
  margin-left: -3%;
}

.size-text {
  margin-left: -2%;
}

.habitat-text {
  margin-left: -3%;
}



/* Number text (1/3 etc) */
.numbertext {
  font-family: impact, sans-serif;
  color: black;
  font-size: 15px;
  margin-top: 10%;
  margin-left: 1.4%;
  align-items: center;
  position: absolute;
  top: 0;
}

.numbertext2 {
  font-family: impact, sans-serif;
  color: black;
  font-size:  15px;
  margin-top: 10%;
  margin-left: 1.4%;
  align-items: center;
  position: absolute;
  top: 0;
}

.numbertext3 {
  font-family: impact, sans-serif;
  color:black;
  font-size: 15px;
  margin-top: 10%;
  margin-left: 1.4%;
  align-items: center;
  position: absolute;
  top: 0;
}


/* Hide the images by default */
.mySlides2 {
  display: none;
}

.mySlides {
  display: none;
}

.mySlides3 {
  display: none;
}



/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  margin-top: -4.5%;

  color: rgba(160, 172, 237, 1);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  margin-left: 10%;
  border-radius: 3px 0 0 3px;
}

.prev {
  margin-left: -5.5%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  /* background-color: rgba(0, 0, 0, 0); */
  transform: scale(1.2); 
  transition: transform .5s;
  cursor:pointer;
}


/* triangle 2 */
.prev2,
.next2 {
  cursor: pointer;
  position: absolute;
  margin-top: -4.5%;

  color: rgba(160, 172, 237, 1);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next2 {
  margin-left: 10%;
  border-radius: 3px 0 0 3px;
}

.prev2 {
  margin-left: -5.5%;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover,
.next2:hover {
  /* background-color: rgba(0, 0, 0, 0); */
  transform: scale(1.2); 
  transition: transform .5s;
  cursor:pointer;
}


/* size */
.prev3,
.next3 {
  cursor: pointer;
  position: absolute;
  margin-top: -4.5%;

  color: rgba(160, 172, 237, 1);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next3 {
  margin-left: 10%;
  border-radius: 3px 0 0 3px;
}

.prev3 {
  margin-left: -5.5%;
}

/* On hover, add a black background color with a little bit see-through */
.prev3:hover,
.next3:hover {
  /* background-color: rgba(0, 0, 0, 0); */
  transform: scale(1.2); 
  transition: transform .5s;
  cursor:pointer;
}



.dot1 {
  height: 80px;
  width: 80px;
  background-color: silver;
  border-radius: 50%;
  display: inline-block;

}

.dot2 {
  height: 80px;
  width: 80px;
  background-color: brown;
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  height: 80px;
  width: 80px;
  background-color: darkblue;
  border-radius: 50%;
  display: inline-block;
}

.dot4 {
  height: 80px;
  width: 80px;
  background-color: goldenrod;
  border-radius: 50%;
  display: inline-block;
}

.dot5 {
  height: 80px;
  width: 80px;
  background-color: darkgreen;
  border-radius: 50%;
  display: inline-block;

}


.dot6 {
  height: 80px;
  width:80px;
  background-color: darkred;
  border-radius: 50%;
  display: inline-block;
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-right: 25px solid rgba(88, 81, 145, 1);
	border-bottom: 12.5px solid transparent;
}


.triangle-right {
	width: 0;
	height: 0;
	border-top: 12.5px solid transparent;
	border-left: 25px solid rgba(88, 81, 145, 1);
	border-bottom: 12.5px solid transparent;
}

.map {
  object-fit: contain;
  margin-left: 50%;
  margin-top: -50%;
  height: 100vh;
  width: 50vw;
}

.search {
  margin-left: 14%;
  margin-top: -3%;
}

#img-search:hover {
  transform: scale(1.2); 
  transition: transform .5s;
  cursor:pointer;

}








/* Container for image text */
/* .caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Six columns side by side */
/* .column {
  float: left;
  width: 16.66%;
} */